body {
	background: #dddddd;
	color: white;
}

#menu {
	position: absolute;
	left: 750;
	top: 10;
	padding: 10;
	background: green;
	width: 180;
	height: 600;
}

#money {
	color: white;
	float: right;
}

.statDisp {
	float: right;
}